html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(62, 206, 110);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}

.title {
  display: flex;
  /* margin: 10px 0; */
  justify-content: center;
}

.title img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

#mensagensContainer {
  height: 500px;
  width: 500px;
  background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
  margin-bottom: 20px;
}

#chat {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

input {
  border-radius: 20px;
  width: 300px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 50px;
  border-radius: 30px;
  border: none;
  height: 50px;
  background: #1EBEA5;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}

.message {
  background-color: white;
}